"""https://adventofcode.com/{{year}}/day/{{day}}"""
from loguru import logger
from aoc_utils import Solution, read_input


def solve(**kwargs) -> Solution:
    data = read_input({{year}}, {{day}}, **kwargs)
    return (None, None)
