"""https://adventofcode.com/{{year}}/day/{{day}}"""
from loguru import logger
from . import Solution, read_input


def solve(**kwargs) -> Solution:
    data = read_input({{day}}, **kwargs)
    return (None, None)
